doctype html
html
  head
    title Solar Reflector
    meta(name='viewport' content='width=device-width, initial-scale=0.8, user-scalable=0')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet' type='text/css' href='page2.css')
  nav
    .nav-wrapper.truncate
      a.brand-logo.center(style='font-weight: bold; font-size: 20px;') SOLAR REFLECTOR
  .container.z-depth-1
    .divider
    .row
        .col.s4 test 
        .col.s4 test
        .col.s4 test
    