body {
  background-color: #f6f7f9;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

h6 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #000000;
}

.nav-wrapper {
  background-color: #185464;
}

.card-panel {
  border-radius: 5px;
  margin: 0px;
}

button {
  height: 38px;
  background-color: #185464;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0px;
  margin: auto;
}

button:focus {
  background-color: #185464;
}

button:active{
  background-color: #134350; 
}

button:disabled{
  background-color: #4a8192;
}

.center-align {
  width: 100%;
}
