body {
  background-image: linear-gradient(#4c94a8, #13424f);
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #e5e5e5; */
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #ffffff;
}

h6 {
  font-size: 16px;
}

a {
  color: #ffffff;
}

.nav-wrapper {
  background-color: #185464;
}

.container {
  width: 400px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: aqua;
}

.card-panel {
  padding: 10px;
  border-radius: 5px;
  background-color: #4c94a8;
  min-height: 80px;
}

button {
  height: 38px;
  width: 38px;
  background-color: #185464;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 0px;
  margin: auto;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);

}

button:hover {
  background-color: #134350;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0,0,0,.12);
}

button:focus {
  background-color: #185464;
}

button:active{
  background-color: #185464e0;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),0px 4px 8px 1px rgba(0, 0, 0, 0.14),0px 3px 10px 2px rgba(0,0,0,.12);
}

button:disabled{
  background-color: #185464d0;
}
