body {
  background-image: linear-gradient(#4c94a8, #13424f);
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

.container {
  width: 400px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
}

.card-panel {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #4c94a8;
}

.btn {
  height: 38px;
  background-color: #185464;
  border-radius: 5px;
}

button {
  height: 38px;
  width: 38px;
  background-color: #185464;
  color: white;
  border-radius: 5px;
  border: none;
}

button:hover{
  background-color: #52bbaf;
}